.usertable {
    width: 90vw;
    border-bottom: 1px solid black;
    border-collapse: collapse;
}

.table-row {
    text-align: left;
    display: table-row;
    border-bottom: 1px lightgray solid;
}

.center-text {
    text-align: center;
}

.actionIcons {
    height: 15px;
    width: 15px;
    padding-left: 15px;
}

.delBtn {
    font-size: smaller;
    background-color: #ff5171;
    border-radius: 8px;
    padding-top: 10px;
    padding: 4px;
    margin: 12px;
    color: white;
}

.pageButton {
    border-radius: 80%;
    border: 1px #1890ff, solid;
    background-color: #1890ff;
    color: white;
    margin-left: 15px;
    text-align: center;
    width: 25px;
    height: 25px;
}

.pageButtons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.bulk {
    display: flex;
    justify-content: stretch;
}